/* custom property */
:root {
	--global-color-1: #800000;
}

/* the styles for the elements */
body {
	width: 600px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
a:focus, a:hover {
	font-style: italic;
}
/* the styles for the header */
header h2 {
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: 3px solid #931420;
	background-image: linear-gradient(30deg, #f6bb73, #f6bb73 30%, white 50%, #f6bb73 80%,#f6bb73 80%);
	font-size: 175%;
	color: var(--global-color-1);
	text-indent: 30px;
}

header img {
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	width: 100px;
	height: 100px;
}
.shadow {
	text-shadow: 2px 2px 2px var(--global-color-1);
}
/* the styles for the main content */
main {
	clear: left;
	padding-left: 30px;
	padding-right: 30px;
}
main h1 {
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	border-radius: 10px;
	border-style: solid double;
	box-shadow: 3px 3px black;
	text-align:center;
	font-size: 150%;

}
main h2 {
	padding-top: 0.5em;
	padding-bottom: 0.25 em;
	color: var(--global-color-1);
	font-size: 130%;
	
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
}
main p {
	padding-bottom: .5em;
}
main blockquote {
	padding: 0 2em;
	font-style: italic;
}
main ul {
	padding: 0 0 .25em 1.25em;
}
main li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer p {
	text-align: center;
	padding: 1em 0;
}
